<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NaverShoppingMapper">  
  <select id="selectAllDB">
    SELECT *
    FROM react.product_naver
  </select>

  <select id="selectCategoryCount">
    SELECT category1 as name, sum(buyCount) as value
    FROM react.product_naver
    GROUP BY category1
  </select>

  <select id="selectCategoryDetail">
    SELECT *
    FROM react.product_naver
    WHERE category1 = #{name}
  </select>

  <insert id='buyItem'>
    INSERT INTO react.product_naver
    (productId, title, image, category1, category2, category3, category4, buyCount, insertDate, updateDate)
    VALUES(#{item.productId}, #{item.title}, #{item.image}, #{item.category1}, #{item.category2}, #{item.category3}, #{item.category4}, 1, now(), now())
    ON DUPLICATE KEY UPDATE
    buyCount = buyCount + 1,
    updateDate = NOW()
  </insert>

</mapper>


